.cabecalho {
    background-color:#96d5ff;
    color: rgb(255, 109, 109);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }

    .cabecalho-imagem{
    width: 15%;
    }

    .cabecalho-lista-item
    * {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    }
    .escola-imagem{
    width:25% ;
    }

    .escola {
    background-image: linear-gradient(#f057ab,#bb51bb);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }

    .escola-div-conteudo{
    width: 35%;
    }
    .escola-título{
        padding: 24px 0;
    }
    

